:root {
	--fontcolor: #0066ff;
	--colorbtn: #004567;
}

.active-link {
	background-color: cornflowerblue;

	font-size: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.App {
	background-image: url(/src/assets/bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
